{{ $random := delimit (shuffle (split (md5 now) "" )) "" }}

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#javascript-{{ $random }}">JavaScript</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#go-{{ $random }}">Go</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#rust-{{ $random }}">Rust</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="javascript-{{ $random }}">
            <pre>
function main() {
    console.log("Hello world");
}
            </pre>
        </div>
        <div class="tab-pane container" id="go-{{ $random }}">
            <pre>
package main
import "fmt"

func main() {
    fmt.Println("Hello world")
}
            </pre>
        </div>
        <div class="tab-pane container" id="rust-{{ $random }}">
            <pre>
fn main() {
    println!("Hello World");
}
            </pre>
        </div>
    </div>
</div>
